.header {
  height: 20vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  background-color: #d9d5cc;
}

body {
  background-color: #d9d5cc;
  height: 100vh;
}

.buttons-container {
  position: relative;
  top: 20%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: 2px solid black;
  align-content: space-between;
}

.buttons {
  width: 70%;
  /* border: 2px solid white; */
}

.search-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

form#search-form {
  width: 95%;
}

.form-col {
  display: flex;
  flex-direction: row;
}

.baseline {
  display: flex;
  align-items: flex-end;
  width: 20vh;
}

ul.left {
  position: relative;
  top: 10vh;
  text-align: left;
  background-color: #d9d5cc;
}

.left {
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #d9d5cc;
}

.list-group-mine {
  background-color: #000000;
}

.main-window {
  position: relative;
  height: 80vh;
  top: 20vh;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #d9d5cc;
  overflow: auto;
}

.album-window {
  /* border: 2px solid black; */
  height: 50vh;
  background-color: #d9d5cc;
}

.cover-image {
  /* border: 2px solid black; */
  max-width: 100%;
  min-width: 100%;
  height: 100%;
}

.artist-row {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  text-align: left;
  font-family: Alegreya;
  align-items: center;
}

.artist-info {
  background-color: #d9d5cc;
  flex-direction: column;
}

.artist-name {
  size: 16px;
}

.album-image:hover {
  outline: 4px solid white;
  outline-offset: -2px;
}

.album-name:hover {
  text-decoration: underline;
}

.listens-text:hover {
  text-decoration: underline;
}

.most-listens-window {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: stretch;
  justify-items: center;
  gap: 10px;
  padding: 50px;
}
